*
!.gitignore
!content
!content/sample_videos
!/content/sample_videos/background1.mp4
!/content/sample_videos/background2.mp4
!/content/sample_videos/verticalBackground.mp4
!aboutScroll
!/aboutScroll/sample_images
!/aboutScroll/sample_images/*
!/aboutScroll/placeholder.jpg